<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
    {{>head}}
           
</head>


<body class="layout-container" data-ice="rootContainer">


{{>nav}}  



<div class="container-fluid">
<div class="explorable-page">
	<br>
	<h1>{{title}}</h1>
	
{{>explorable}}
</div>
</div>

{{>footer}}


</body>
</html>
