<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
    {{>head}}
</head>


<body class="layout-container" data-ice="rootContainer">


{{>nav}}  


	<!-- TITLE AND TOP IMAGE -->
	<div class="mainimg" >
    	<div class="mainimg-text">
        <h1>
          Artistoo
        </h1>
        <h2>
          Build&puncsp;. Share&puncsp;. Explore&puncsp;.
        </h2>        
      </div>
  	</div>


<div> <!-- class="container" -->


<div class="index-content" data-ice="content">
<div data-ice="index" class="front-page">


	<div style="font-size:120%;text-align:center;margin-left:10%;margin-right:10%">
		<p> Artistoo (Artificial Tissue Toolbox) is a framework that
		lets you build interactive, explorable simulation models of cells and tissues in the
		web browser.</p> 
	</div>

	<section id="about">
	<h1>About</h1>


	<div class="row">
		<div class="col-12 col-md-6 col-lg-3 col-xl-3">
			<img src="./image/general/cpm-01.png" width="100%">
			<h2>Framework</h2>
			<p>Artistoo implements the Cellular Potts Model (CPM), a powerful framework for
			simulating diverse biological processes at tissue scale. It also contains methods
			for simulating the more basic Cellular Automaton (CA) class of models. 		<br><br><br></p>
			<div class="bottom">
			<p><a href="manual/index.html" class="btn btn-success">Learn More &raquo;</a></p>
			</div>
		</div>

		<div class="col-12 col-md-6 col-lg-3 col-xl-3">
			<img src="./image/general/cpm-02.png" width="100%">
			<h2>JavaScript</h2>
			<p>Artistoo is 100% JavaScript. Although JS is an
			interpreted language, investments by tech companies have boosted its performance over 
			the years - letting us run web simulations without loss of speed. Thanks, Google! :) 		<br><br><br></p>
			<div class="bottom">
			<p><a href="#publication" class="btn btn-success">Learn More &raquo;</a></p>
			</div>
		</div>
	
		<div class="col-12 col-md-6 col-lg-3 col-xl-3">
			<img src="./image/general/cpm-03.png" width="100%">
			<h2>Zero-install</h2>
			<p>Artistoo simulations can be shared through a simple URL, or as an HTML file
			saved locally. 
			Code will run as long as you include the script; your recipients don't need to
			install	software, and you don't need a back-end server. 		<br><br><br></p>
			<div class="bottom">
			<p><a href="./manual/sharingSimulations.html" class="btn btn-success">Learn More &raquo;</a></p>
			</div>
		</div>
	
		<div class="col-12 col-md-6 col-lg-3 col-xl-3">
			<img src="./image/general/cpm-04.png" width="100%">
			<h2>Explorable</h2>
			<p>Artistoo simulations run in HTML pages and can easily be made explorable.
			Your users don't have to be programmers: just add HTML sliders or input fields 
			to let users interact with model parameters in real-time.
			<br><br><br>
			</p>
			<div class="bottom">
			<p><a href="examples.html#interactive"  class="btn btn-success">Learn More &raquo;</a></p>
			</div>
		</div>

	</div>
	</section>
	
</div>
</div>


<div style="background:#eaecef">
<div class="index-content" data-ice="content">
<div data-ice="index" class="front-page">

	<section id="getting-started">
	<h1>Getting started</h1>

	<div class="row">
		<div class="col-12 col-md-6 col-lg-3 col-xl-3" height="100%">
		
			<h2>Manual</h2>
			<p>Visit the manual to learn about CPMs and for tutorials on how to get started
			with the framework... from scratch.<br><br><br></p>
			<div class="bottom">
			<p><a href="manual/index.html" class="btn btn-success">Go &raquo;</a></p>
			</div>
		
		</div>

		<div class="col-12 col-md-6 col-lg-3 col-xl-3" height="100%">
		
			<h2>Examples</h2>
			<p>Looking at the supplied examples is a great way to learn what you can do with 
			the framework. Download the page, adjust the code, see what happens.<br><br><br></p>
			<div class="bottom">
			<p><a href="examples.html" class="btn btn-success">Go &raquo;</a></p>
			</div>
		</div>
	
		<div class="col-12 col-md-6 col-lg-3 col-xl-3" height="100%">
		
			<h2>Docs <a href="https://inch-ci.org/github/ingewortel/artistoo">
		<img src="https://inch-ci.org/github/ingewortel/artistoo.svg?branch=master" 
			alt="Inline docs"></a></h2>
			<p>Once you are up to speed, have a look at the detailed method documentation to
			discover all options and possibilities.<br><br><br></p>
			<div class="bottom">
			<p><a href="./identifiers.html" class="btn btn-success">Learn More &raquo;</a></p>
			</div>
		</div>
	
		<div class="col-12 col-md-6 col-lg-3 col-xl-3" height="100%" >
		
			<h2>Customize</h2>
			<p>Do you need something that's not there? Don't worry, Artistoo can easily be 
			extended with your own code. See the manual for an explanation.<br><br><br>
			</p>
			<div class="bottom">
			<p><a href="./manual/custommodules.html" class="btn btn-success">Learn More &raquo;</a></p>
			</div>
		</div>

	</div>
	</section>


</div>
</div>
</div>


<div class="index-content" data-ice="content">
<div data-ice="index" class="front-page">

	<section>
	<h1 id="publication">License and Publication</h1>
	
	<p>Artistoo is freely available under the terms of the MIT open-source software license. 
	To use for a publication, please cite:</p>

	<p> Inge M. N. Wortel and Johannes Textor (2020).<br>
		<b>
		Artistoo, a library to build, share, and explore simulations of cells and tissues in the web browser.</b><br>
		<i>eLife 2021;10:e61288</i>. doi:<a href="https://doi.org/10.7554/eLife.61288">10.7554/eLife.61288</a>.	
	</p>
	
	<p>This publication contains more information on Artistoo performance and discusses 
	applications of interactive simulations in education, research, and open science.</p>
	
	</section>

</div>
</div>





</div>

{{>footer}}


</body>
</html>
