<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
    {{>head}}
           
</head>


<body class="layout-container" data-ice="rootContainer">


{{>nav}}  




	<div class="wrapper">
		<!-- Sidebar -->
		<nav id="sidebar" class="navigation bg-dark manual-sidenav">
			
			<ul class="list-unstyled components">
				{{#sideNav}}
				{{#active}}
				<li class="active">
				{{/active}}
				{{^active}}
				<li>
				{{/active}}
					<a href="{{navprefix}}manual/{{tag}}.html">{{title}}</a>
					<ul class="list-unstyled" id="{{tag}}-menu">
						{{#nav}}
						<li>
							<a href="#{{id}}">{{subtitle}}</a>
						</li>
						{{/nav}}
					</ul>
				</li>
				{{/sideNav}}
				
			</ul>
		</nav>
		
		
		<!-- Page Content -->
		<div id="content" class="content">
			
			<button type="button" id="sidebarToggle"  class="btn btn-side-toggle">
				<span id="sideButtonIcon" class="fa fa-chevron-left"></span></button>
			
			<!--<div class="container-fluid">
				
		
				
			</div>-->
			<div class="container-fluid manual-page">
				<br>
				<h1>{{title}}</h1>
				
{{>manual}}
			</div>
			<div class="swipe-area"></div>
		</div>
	</div>

	


{{>footer}}


</body>
</html>
