<!-- for the pages written by esdoc, this is changed. -->
<footer class="footer" id="autoFooter">
  <p><i>Last updated: <span id="date"></span></i></p>
</footer>

<script src="{{navprefix}}script/search_index.js?{{version}}"></script>
<script src="{{navprefix}}script/search.js?{{version}}"></script>
<script src="{{navprefix}}script/pretty-print.js?{{version}}"></script>
<script src="{{navprefix}}script/inherited-summary.js?{{version}}"></script>
<script src="{{navprefix}}script/test-summary.js?{{version}}"></script>
<script src="{{navprefix}}script/inner-link.js?{{version}}"></script>
<script src="{{navprefix}}script/patch-for-local.js?{{version}}"></script>

<!-- https://onextrapixel.com/creating-a-swipeable-side-menu-for-the-web/ -->
<script type="text/javascript" src="{{navprefix}}script/jquery.touchSwipe.min.js"></script>
<script src="{{navprefix}}script/swipe-nav.js?{{version}}"></script>


<script>
document.getElementById("date").innerHTML = Date();
</script>