<!-- for the pages written by esdoc, this is changed. -->
<footer class="footer" id="autoFooter">
  <p><i>Last updated: <span id="date"></span></i></p>
</footer>

<script src="{{navprefix}}script/search_index.js"></script>
<script src="{{navprefix}}script/search.js"></script>
<script src="{{navprefix}}script/pretty-print.js"></script>
<script src="{{navprefix}}script/inherited-summary.js"></script>
<script src="{{navprefix}}script/test-summary.js"></script>
<script src="{{navprefix}}script/inner-link.js"></script>
<script src="{{navprefix}}script/patch-for-local.js"></script>

<script>
document.getElementById("date").innerHTML = Date();
</script>