<nav class="navbar navbar-toggleable navbar-expand-lg fixed-top navbar-light bg-light" id="navbar-main">
    <div class="container" style="margin-left:0px;max-width:100%">
        <a class="navbar-brand" href="{{navprefix}}index.html">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
    	<div class="collapse navbar-collapse" id="navbarNav">
		  	<ul class="navbar-nav mr-auto">
				<li class="nav-item" style="list-style-type: none!important;">
				  <a class="nav-link" href="{{navprefix}}examples.html"><span>Examples</span></a>
				</li>
				<li class="nav-item" style="list-style-type: none!important;">
				  <a class="nav-link" href="{{navprefix}}explorables.html"><span>Explorables</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{navprefix}}manual/index.html"><span>Manual</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{navprefix}}converter.html"><span>Converter</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{navprefix}}identifiers.html"><span>Docs</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{navprefix}}source.html"><span>Src</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{navprefix}}test.html"><span>Tests</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/ingewortel/artistoo">
						<i class="fa" style="font-size:200%">&#xf09b;</i></a>
				</li>
			</ul>
			<div class="search-box">
				  <span>
					<i class="fa fa-search" style="font-size:200%; color:rgba(0,0,0,.5);"></i>
					<span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
				  </span>
					<ul class="search-result"></ul>
				  </div>
			</div>
			  
    	</div>
    </div>
</nav>


<!--<div class="container mb-5">
&nbsp;
</div>-->
